@import "tailwindcss";

@theme {
  --color-orange-primary: #f97316;
  --color-orange-dark: #ea580c;
  --color-orange-light: #fff7ed;

  --color-white: #ffffff;

  --color-gray-text: #374151;
  --color-gray-light: #f3f4f6;
}